[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
constructs = "~=10.1.249"
cdk8s = "~=2.7.5"
cdk8s-plus-25 = "~=2.4.25"

[pipenv]
allow_prereleases = true
